<article class="backpacklist">
  <section class="layout">
    <div class="backpack">
      <% category.forEach(function(item) { %>
        <article class="category group">
            <a href="/backpack/<%= item.category %>">
            <h3><%= item.category %> <span class="small"></a><span></h3>
            <p><a href="/backpack/<%= item.category %>"></a>
              <% if (page!= 'home') { %>
                <% if (page === 'backpackList') { %>
                  <%- item.summary %>
                <% } else { %>
                  <%- item.summary %>
                <% } %>
              <% } %>
            </a></p>
        </article>
      <% }); %>
    </div>
  </section>
</article>